APP_PROFILE=personal
PUBLIC_API_KEY=api-key-here
PUBLIC_IDENTIFIER=api-identifier-here
PUBLIC_PASSWORD=api-password-here
SHOWCASE_API_KEY=showcase-api-key-here
SHOWCASE_IDENTIFIER=showcase-identifier-here
SHOWCASE_PASSWORD=showcase-password-here
